
.Header , .Nav{
display: flex;
flex-direction: column;    
}

.Header{
justify-content:space-between ;    
}

.Nav{
flex: 1;
justify-content: space-around;        
}

/* Media Queries */

@media all and (min-width:650px) {
.Header , .Nav{
flex-direction: row;    
}    
} 

@media all and (min-width:1050px) {
.Nav{
flex: none;    
}    
} 

@media all and (min-width:1050px) {
    .Header{
    width: 1700px; 
    min-width:800px ;   
    }    
    }

/* Styling */

body{
margin: 0px; 
font-family: Helvetica ;
background: url("new-opto-pics-9.jpg") top center no-repeat ;
background-size: cover;
}

.Header{
padding:20px 0px ;
margin: 0 auto;
}

.Logo{
width: 150px;   
}

.Nav{
    list-style: none;
}

.Nav li{
margin: 12px 10px 12px 30px;    
}

.Nav li a{
text-decoration: none;
color:blue;   
font-size: 12px; 
}

.Nav li a:hover{
color: rgba(255, 255, 255, .75); 
}

.Nav li:last-child a{
background-color: rgba(80, 79, 79, 0.5);
border-radius: 2px; 
transition: 200ms ease-in-out;
padding: 8px 16px 8px;
}

.Nav li:last-child a:hover{
background:rgba(128, 126, 126, 0.5);
color:white ;
}