
:root{
    --mainfont: 'Krub' ;
    --white: #ffffff ;
    --primary:#ffc107 ;
    --secondary:#0097a7 ;
    --gray:#757575 ;
    --dark:#212121 ;
}

html{
    box-sizing: border-box;
    margin: 0;
    padding: 0;

}

* , *::after , ::before {
    margin: 0;
    padding: 0;
}


body{
    font-family: var(--mainfont);
}

/* REUSED */
.Button{
    background-color: var(--secondary);
    padding: .5rem 3rem;
    border-radius: 5px;
    display: inline-block;
    margin-top: .5rem;
    font-weight: 700;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 1.2rem;
    color: var(--white);
    transition: background-color .3s ease;
}

.Button:hover{
    background-color: rgb(1, 123, 136);
}

h2,h3{
    text-align: center;
}

h3{
    color: var(--secondary);
    font-weight: 400;
    font-size: 1.6rem;
}

p{
    line-height: 2;
}

.Main-Navigation{
    max-width: 1700px;
    /* background-color: blueviolet;  */
    margin: 0 auto;
    padding: 1rem 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.Main-Navigation a{
    color: var(--dark);
    text-decoration: none;
    font-size: 1.4rem;
    margin-bottom: 1.4rem;
}

/* Media Queries */
@media (min-width:768px) {
    .Main-Navigation{
        display: flex;
       flex-direction: row; 
       justify-content: space-between;
    }
    .Main-Navigation a{
        margin-bottom: 0;
    }
}

.Hero{
    /* background-color: red; */
    height: 450px;
    background-image: url(/assets/img/hero.jpg);
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.Hero::after{
    content: "";
    background-color: rgba(0, 0, 0, .7);
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.Hero-Content{
    z-index: 1;
    color: var(--white);
    position: relative;
    text-align: center;
}

.Hero-Content i{
    font-size: 3rem;
    color: var(--primary);
}

.Container{
    margin: 2rem auto 3rem auto;
    padding: 2rem;
    background-color: var(--white);
    max-width: 1700px;
    box-shadow: 0px 4px 12px -1px rgba(0, 0, 0, .45);
    border-radius: 1rem;
}

@media (min-width:768px) {
    .Services-Container{
        display: flex;
        justify-content: space-between;
    }

    .Service{
        flex: 0 0 calc(33.3% - 1rem);
    }
}

.Service{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.Icons{
    background-color: var(--primary);
    width: 100px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
}

.Icons i{
    font-size: 2rem;
}